.first{
font-family: Georgia, 'Times New Roman', Times, serif;
color: grey;
}

.sec{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: lowercase;
}

     

        