body{
    background-color: black;
    font-family:"Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: white;
    color: white;
    align-items: center;
 text-align: center;
}
#header{
    padding-top: 10px;
    top: 0px;
    height: 25px;
    margin-top: 0px;
        position: fixed;
        background-color: black;
        z-index: 9999;
        width: 100%;
            margin-left: auto;
            margin-right: auto;
            word-spacing: 50px;
        color: rgba(255, 255, 255, 0.753);
    border-bottom-style:green;
    padding-bottom:25px;
    text-align: center;
}
#Mobile{
    color: inherit;
    text-decoration: none;
}
#top{ 
    padding-top: 70px;
    gap: 35px;
    display: flex;
    justify-content: center;
    border: 8px solid black;
    margin-bottom: 2px green ;
    border-style:solid ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgb(142, 247, 142);
    padding-bottom:15px;
}
.new{
    background-color: rgb(90, 196, 90);
    justify-content: center;
    text-align: center;
    font-size:x-small;
    width: 35px;
    color: black;
    border-radius: 2px;
    height: 15px;
    font-weight: bold;
}
.box{
gap: -20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}
#reclama{
    position: relative;
    text-align: center;
  top: -12px;
    font-size: 13px;
    padding: 13px;
    color:  white;
    background-color: rgba(128, 128, 128, 0.685);
}
#ace{
    position: relative;
    color: rgba(255, 255, 255, 0.555);
     top: -35px;
}
#green{
    color:rgb(80, 212, 80) ;
    font-size:60px;
    font-weight: bolder;
}
.potato{
    padding-top: 60px;
    font-size: 40px;
}
.p1{
    color:rgb(80, 212, 80) ;
    font-weight:300;
}
.pub1{color: rgba(255, 255, 255, 0.555); 
font-weight: normal;}

#dot{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.tablete{ 
    width: 380px;
    height: 480px;
}
#tomato{
    font-size: 40px;
}
#ending{position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;}
#tech{
    padding-top: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.tabel{
    position: relative;
    text-align: start;
}
#donut{  position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
   }
   #footer {
    margin: right 20px; ;
    padding: 25px;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.555);
    margin-bottom: 15px;
    font-size: small;
}

#footer th {
    text-align: start;
    color: white;
}

#footer table {
    padding: 20px;
}

#footer span {
    color: green;
}

#end {
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.555);
    top: -1200px;
}
#finish {
    padding-top: 5px;
   border-top: 2px solid grey;
    width: 50%;
    margin: 20px auto 0;
    display: flex;
    width: 1200px;
    font-size: small;
    gap: 20px;
}
#biscuit{padding-left: 359px;}
th{
    padding: 10px;
}
td{
    padding: 10px;
}
tr{
    padding: 10px;
}