   
        .specs-container {
            width: 100%;
            max-width: 1000px; 
            margin: 0 auto;
        }

        .spec-row {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            border-bottom: 1px solid #e0e0e0; 
            padding: 25px 0; 
            font-size: 14px; 
        }
        .nume {
            font-weight: 700; 
            color: #000000;
        }

        
        .valoare {
            font-weight: 400; 
            text-align: right;
            color: #000000;
        }
    .container {
            display: flex; 
            max-width: 1400px;
            margin: 0 auto;
            align-items: flex-start; 
        }

        
        .stanga{
            flex: 0 0 300px; 
            padding-right: 20px;
        }

        .titlu{
            font-size: 12px;
            font-weight: 600;
            color: #666;
            text-transform: uppercase;
            letter-spacing: 0.5px; 
        }

        .scris {
            font-size: 28px; 
            line-height: 1.4; 
            font-weight: 400; 
            margin: 0;
            color: #111; 
            text-align: center;
        }

        