
.header-container{
    height: 80px;
    background-color: transparent;
    align-items: stretch;
    border-bottom: 1px solid white;
    margin-left: 80px;
    margin-right: 80px;

}
.header-video{
    width: 100%;
    height: 670px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.left-section{
    display: flex;
    flex-direction: row;
    flex: 1;
    position: absolute;
    top: 14px;
    left: 92px;
    align-items: center;
}
.middle-section{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.right-section{
    position: absolute;
    top: 5px;
    right: 0px;
  
}
.button1, .button2, .button3, .button4{
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    border:none;
}
.button1{
    vertical-align: top;
    background-color: transparent;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 12px;
    cursor: pointer;
    vertical-align: top;
}

.button2{
    vertical-align: top;
    background-color: transparent;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.arrow-icon{
    width: 18px;
    height: 15px;
    padding:none;
    background-color: transparent;
}
.button3{
    vertical-align: top;
    background-color: transparent;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button4{
    vertical-align: top;
    background-color: transparent;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1, .button2, .button3, .button4{
    padding-bottom: 25px;
    padding-top: 16px;
}
.button1:hover, .button2:hover, .button3:hover, .button4:hover {
    border-bottom: rgb(62, 97, 239) 3px solid;
    vertical-align: top;
}

.person-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    width: 30px;
    height: 75px;
    object-fit: cover;
}
.person-img{
    width: 24px;
    height: 84px;
    object-fit: cover;
    object-fit: contain;
}
.shopping-cart-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    max-width: 30px;
    height: 75px;
    object-fit: cover;
}
.shopping-cart-img{
    max-width: 24px;
    height: 80px;
    object-fit: cover;
    object-fit: contain;
}
.favorite-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    width: 30px;
    height: 75px;
    object-fit: cover;
}
.favorite-img{
    max-width: 24px;
    height: 80px;
    object-fit: cover;
    object-fit: contain;
}
.location-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 130px;
    width: 30px;
    height: 75px;
    object-fit: cover;
}
.location-img{
    max-width: 24px;
    height: 84px;
    object-fit: cover;
    object-fit: contain;
}
.person-icon, .shopping-cart-icon, .favorite-icon, .location-icon{  
    padding-bottom: 13px;
    padding-top: 0;
}
.person-icon:hover, .shopping-cart-icon:hover, .favorite-icon:hover, .location-icon:hover {
    border-bottom: rgb(62, 97, 239) 3px solid;
    vertical-align: top;
}
.text-overlay1 {
    position: absolute;
    top: 230px;
    left: 7%;
    color: white;
    font-size: 48px;
    font-family: 'asap', sans-serif;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.6px;
}
.text-overlay2 {
    position: absolute;
    top: 290px;
    left: 7%;
    color: white;
    font-size: 28px;
    font-family: 'asap', sans-serif;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.6px;
}
.explore-button{
    position: absolute;
    top: 360px;
    left: 7%;
    background-color: #1C69D4;
    border: none;
    color: white;
    padding: 18px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

